<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels" />
    <meta name="twitter:creator" content="@themepixels" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Bracket" />
    <meta
      name="twitter:description"
      content="Premium Quality and Responsive UI for Dashboard."
    />
    <meta
      name="twitter:image"
      content="http://themepixels.me/bracket/img/bracket-social.png"
    />

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket" />
    <meta property="og:title" content="Bracket" />
    <meta
      property="og:description"
      content="Premium Quality and Responsive UI for Dashboard."
    />

    <meta
      property="og:image"
      content="http://themepixels.me/bracket/img/bracket-social.png"
    />
    <meta
      property="og:image:secure_url"
      content="http://themepixels.me/bracket/img/bracket-social.png"
    />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />

    <!-- Meta -->
    <meta
      name="description"
      content="Premium Quality and Responsive UI for Dashboard."
    />
    <meta name="author" content="ThemePixels" />

    <title><%=siteTitle%></title>

    <!-- vendor css -->
    <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/lib/Ionicons/css/ionicons.css" rel="stylesheet" />
    <link
      href="/lib/perfect-scrollbar/css/perfect-scrollbar.css"
      rel="stylesheet"
    />
    <link
      href="/lib/jquery-switchbutton/jquery.switchButton.css"
      rel="stylesheet"
    />

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="/css/bracket.css" />
  </head>

  <body>
    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo">
      <a href=""><span>[</span><%=siteTitle%><span>]</span></a>
    </div>
    <div class="br-sideleft overflow-y-auto">
      <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
      <div class="br-sideleft-menu">
        <a href="#" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
            <span class="menu-item-label">Dashboard</span>
          </div>
          <!-- menu-item --> </a
        ><!-- br-menu-link -->
    
       
      


      <a href="/" class="br-menu-link">
        <div class="br-menu-item">
          <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
          
          <span class="menu-item-label">Logout</span>
        </div>
      </a>



    <!-- Murugan End-->

        <!-- <a href="/users" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-person tx-22"></i>
            <span class="menu-item-label">Users</span>
          </div></a> -->
          <!-- menu-item --> 
        
          
          
          
          
          <!-- br-menu-link -->
      </div>
      <!-- br-sideleft-menu -->
      <br />
    </div>
    <!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
      <div class="br-header-left">
        <div class="navicon-left hidden-md-down">
          <a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a>
        </div>
        <div class="navicon-left hidden-lg-up">
          <a id="btnLeftMenuMobile" href=""
            ><i class="icon ion-navicon-round"></i
          ></a>
        </div>
      </div>
      <!-- br-header-left -->
      <div class="br-header-right">
        <nav class="nav">
          <div class="dropdown">
            <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
              <span class="logged-name hidden-md-down">Beyond</span>
              <img
                src="http://via.placeholder.com/64x64"
                class="wd-32 rounded-circle"
                alt=""
              />
              <span class="square-10 bg-success"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-header wd-200">
              <ul class="list-unstyled user-profile-nav">
                <li>
                  <a href=""
                    ><i class="icon ion-ios-person"></i> Edit Profile</a
                  >
                </li>
                <li>
                  <a href=""><i class="icon ion-power"></i> Sign Out</a>
                </li>
              </ul>
            </div>
            <!-- dropdown-menu -->
          </div>
          <!-- dropdown -->
        </nav>
      </div>
      <!-- br-header-right -->
    </div>
    <!-- br-header -->
    <!-- ########## END: HEAD PANEL ########## -->
