<%-include('./shared/header.ejs',{active:'dashboard'})%>
<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel">
  <div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" href="/dashboard">Dashboard</a>
      <span class="breadcrumb-item active">Tags Management</span>
    </nav>
  </div>
  <!-- br-pageheader -->
  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Tags</h4>
    <p class="mg-b-0">&nbsp;</p>
  </div>

  <div class="br-pagebody">
    <!-- start you own content here -->
    <div class="br-section-wrapper">
      <div class="form-layout form-layout-1 mb-5">
        <div class="msgDiv" align="center"></div>
        <form id="mainForm" action="javascript:;">
          <div class="row mg-b-25">
            <div class="col-lg-8">
              <div class="form-group">
                <label class="form-control-label"
                  >Tag name: <span class="tx-danger">*</span></label
                >
                <input
                  class="form-control"
                  type="text"
                  name="tag_name"
                  placeholder="Enter Tag name"
                />
              </div>
            </div>
            <!-- col-4 -->
          </div>
          <!-- row -->
          <div class="form-layout-footer">
            <button class="btn btn-info">Add tag</button>
          </div>
          <!-- form-layout-footer -->
        </form>
      </div>
      <!-- form-layout -->

        <!-- list -->
       

        <%-include('./shared/scripts.ejs')%>

<script>
  $("#mainForm").validate({
    normalizer: function (value) {
      return $.trim(value);
    },
    rules: {
      tag_name: {
        required: true,
      },
    },
    messages: {
      tag_name: {
        required: "Tag name is required",
      },
    },
    submitHandler: function (form) {
      $("button").prop("disabled", "disabled");
      $('.msgDiv').html(``);
      var form = document.getElementById("mainForm");
      // var data = new FormData(form);
      $.ajax({
        type: "POST",
        url: "/tag_register",
        data: $(form).serialize(),
        dataType: "json",
        headers: {
          "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr("content"),
        },
        success: function (data) {
          if (data.status == 1) {
            //toastr
            //end toastr
            $('.msgDiv').html(` <div class="alert alert-success">` + data.message + `</div>`);
            setTimeout(function () {
              window.location.reload();
            }, 3000);
          } else {
            //toastr
            //end toastr
           
            setTimeout(function () {
              window.location.reload();
            }, 3000);
          }
          $("button").prop("disabled", false);
        },
        error: function (err) {
          $("button").prop("disabled", false);
        },
      });
      return false;
    },
  });
</script>

<%-include('./shared/footer.ejs')%>



